
<aside class="widget">
	<h3 class="widget-title">关于我</h3>
	
	<div class="widget-content">
		
		<p>邮箱：tianya.mw@qq.com</p>
		<p>QQ：1129064096</p>
		<div class="github-card user-card">
			<div class="header User"></div>
			<a class="avatar" href="https://github.com/tianwyam" target="_top">
				<img src="<%= theme.avatar.url %>"
					 alt="tianya" style="border-radius:50%;opacity: 0.8;">
			</a>
		</div>
	</div>
	
	<div class="widget-content">
		<h1>tianwyam</h1>
	</div>
	
</aside>