
<aside class="widget">
	<h3 class="widget-title">友情链接</h3>
	
	<div class="widget-content">
		<p><a href="https://me.csdn.net/mybook201314">CSDN</a></p>
		<p><a href="https://gitee.com/tianyagongmingyue">gitee</a></p>
	</div>
	
</aside>